*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
pkg/

# IDE
.idea

# PHP
/composer.phar

# Berkshelf
.vagrant
/cookbooks
Berksfile.lock

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Chef
.kitchen/
.kitchen.local.yml

# Symfony2
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/

# NodeJS
/node_modules
/bower_components
/web/assets/css/
/web/assets/js/