<div id="flash-messenger-container">
    {% for type, messages in app.session.flashbag.all %}
        {% if type == 'error' %}
            {% set type = 'danger' %}
        {% endif %}

        {% for message in messages %}
            <div class="container">
                <div class="row">
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    <div ng-include src="'assets/partials/AppDefaultBundle/flash-messenger.html'"></div>
</div>