{% extends "AppDefaultBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Hello: {{ name }}</h1>
{% endblock %}
